<div class="mom-wrapper">
    <!-- fxLayout="row" fxLayoutAlign="center center" -->
    <section class="mom-parent-card">
        <div class="mom-header">
            <mat-card class="mom-header-card">
                <mat-card-content class="mom-header-title secondary-text">
                    <span class="title-text">{{header}}</span>
                    <mat-icon (click)="close()" class="material-symbols-outlined close-icon">close</mat-icon>
                </mat-card-content>
            </mat-card>
        </div>

        <form [formGroup]="momForm" class="mom-form-container">
        
            <div class="row">
                <mat-form-field class="col-md-6 col-12 mom-form-field" appearance="outline">
                    <mat-label>Meeting DateTime</mat-label>
                    <input matInput [ngxMatDatetimePicker]="pickerCustomIcon" placeholder="Choose a date"
                    formControlName="meetingDateTime" [disabled]="false">
                    <ngx-mat-datepicker-toggle matSuffix [for]="pickerCustomIcon"></ngx-mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerCustomIcon [showSpinners]="true" [showSeconds]="true"
                      [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
                      [color]="'primary'" [enableMeridian]="true" [disableMinute]="false" [hideTime]="false">
                      <ngx-mat-datepicker-actions>
                        <button mat-button ngxMatDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" ngxMatDatepickerApply>Apply</button>
                      </ngx-mat-datepicker-actions>
                    </ngx-mat-datetime-picker>
                </mat-form-field>

                <mat-form-field class="col-md-6 col-12 mom-form-field" appearance="outline">
                    <mat-label>Next Appointment</mat-label>
                    <input matInput [ngxMatDatetimePicker]="pickerCustomIcon1" placeholder="Choose a date"
                    formControlName="nextAppointment" [disabled]="false">
                    <ngx-mat-datepicker-toggle matSuffix [for]="pickerCustomIcon1"></ngx-mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerCustomIcon1 [showSpinners]="true" [showSeconds]="true"
                      [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
                      [color]="'primary'" [enableMeridian]="true" [disableMinute]="false" [hideTime]="false">
                      <ngx-mat-datepicker-actions>
                        <button mat-button ngxMatDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" ngxMatDatepickerApply>Apply</button>
                      </ngx-mat-datepicker-actions>
                    </ngx-mat-datetime-picker>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-md-12 col-12 mom-form-field textarea-container" appearance="outline">
                    <mat-label>Attendees and Minutes of Meeting</mat-label>
                    <textarea rows="4" matInput placeholder="Attendees and Minutes of Meeting" formControlName="mom" required></textarea>
                </mat-form-field>

                <mat-form-field class="col-md-12 col-12 mom-form-field textarea-container" appearance="outline">
                    <mat-label>What Went Well</mat-label>
                    <textarea matInput placeholder="What Went Well" formControlName="feedback_Whatwentwell" required></textarea>
                </mat-form-field>

                <mat-form-field class="col-md-12 col-12 mom-form-field textarea-container" appearance="outline">
                    <mat-label>Improvements & Feedback</mat-label>
                    <textarea matInput placeholder="Improvements & Feedback" formControlName="feedback_Improvement" required></textarea>
                </mat-form-field>
                <mat-form-field class="col-md-12 col-12 mom-form-field textarea-container" appearance="outline">
                    <mat-label>Plan of Action</mat-label>
                    <textarea matInput placeholder="Plan of Action" formControlName="planOfAction" required></textarea>
                </mat-form-field>
            </div>


        </form>
        <div class="col-md-12 text-center btn-container">
            <button (click)="submitMOM()" class="save-btn" mat-flat-button color="warn">Save</button>
        </div>
    </section>
</div>
