<section class="clearfix bg-white h-100 sec-bg-img">
    <div class="container-fluid container-bgd-img">
        <div class="container py-5">
            <div class="section-title text-center">
                <small class="sub-title">Welcome to the world of</small>
                <h2 class="title-text pb-3"><strong class="primary-text">
                  <span>MaitriSanskar-Gyankosh</span>
                </strong> </h2>
            </div>
        
            <div class="text-center">
                <p>MaitriSanskar Gyankosh Inspiring furure Generations. 
                    <br>Instilling universal values in Children, to help navigate life with compassion, clarity and confidence</p>
                <!-- <a mat-stroked-button color="warn" routerLink="/login" class="about-us-btn">Log In</a> -->
            </div>
        </div>
    </div>
</section>
